* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color: #E2DABC;
    --background-color: #2E2D2D;
}

body {
    background-image: url(./assets/backgroundWood.jpg);

    background-size: 100% 100%;
    background-attachment: fixed;

}

#container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 24px;

    min-height: 100vh;

    position: relative;

}

.LogoBox {
    text-align: center;

    background-color: var(--background-color);

    border-radius: 8px;

    border: 1.5px solid var(--color);
}

#logo {
    width: 350px;
    height: 250px;
    object-fit: cover;

    display: block;

}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a {
    background-color: var(--background-color);
    text-decoration: none;

    color: var(--color);
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 16px;
    text-align: center;
    font-size: 24px;

    border-radius: 8px;
    padding: 16px;

    width: 100%;
    max-width: 300px;

    margin: auto;

}

ul li a:hover {
    background: #e9b97c text-color: var(--background-color);
    border: 1.5px solid var(--color);

}

.infos {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: auto;
    background-color: var(--background-color);

}

.Endereco {
    font-size: 16px;
    color: var(--color);
}

.Telefone {
    font-size: 16px;
    color: var(--color);
    text-decoration: none;

}